*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(39, 43, 51);
}

img {
	width: 100%;
	height: auto;
}

/* Header */

.header {
	display: grid;
	place-content: center;
}

.header img {
	width: 100%;
	max-width: 700px;
	object-fit: contain;
}

.header h1 {
	text-align: center;
	color: rgb(251, 192, 45);
}

/* Characters section */

.characters-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	padding: 2rem;
	gap: 1rem;
	justify-items: center;
}

/* Card */

.card {
	border-radius: 0.5rem;
	background-color: rgb(60, 62, 68);
	width: 280px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
}

.card-image-container {
	width: 100%;
	background-image: url('./assets/backgroundCard.webp');
	background-position: center center;
	background-size: cover;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	height: 350px;
	background-color: white;
	position: relative;
	display: flex;
	justify-content: center;
}

.card-image {
	position: absolute;
	top: -10px;
	width: 70%;
	height: 100%;
	/* min-height: 400px;
	max-height: 400px; */
	margin: 0;
	object-position: center center;
	z-index: 0;
	transition: transform 0.6s;
}

.card-image:hover {
	transform: scale(1.05);
}

.card-data-container {
	border: 2px solid rgb(251, 192, 45);
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	padding: 0.5rem;
	color: white;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	z-index: 1;
	font-size: 1.1rem;
}

.name {
	font-size: 1.8rem;
}

.race {
	color: rgb(251, 192, 45);
}

.card-data-container span {
	color: rgb(251, 192, 45);
}

/* Footer */

.more {
	color: white;
	font-size: 4rem;
	text-align: center;
	padding: 2rem;
}

/* Modal */

.modal {
	position: fixed;
	background-color: transparent;
	top: 0vh;
	width: 100vw;
	min-height: 100vh;
	z-index: 10;
	display: grid;
	place-content: center;
}
.modal-article {
	position: relative;
	background-color: rgba(39, 43, 51, 0.98);
	width: 80vw;
	height: 90vh;
	border: 3px solid white;
	border-radius: 1rem;
	display: grid;
	grid-template-rows: 35% 1fr;
}

.character-details-cointainer {
	display: flex;
	padding: 1rem;
	gap: 1rem;
}

.close-modal {
	position: absolute;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
	transition: transform 0.5s ease-in-out;
}

.character-modal-img {
	display: flex;
	justify-content: center;
}

.character-modal-img img {
	width: auto;
	height: 100%;
}
.character-modal-details {
	width: 75%;
	display: flex;
	gap: 1.5rem;
}

.character-modal-details p {
	color: rgb(251, 192, 45);
	font-weight: bold;
	font-size: 1.1rem;
	margin-bottom: 1rem;
}

.character-modal-details span {
	color: white;
	font-size: 1rem;
}

.close-modal:hover {
	transform: scale(1.4);
}

.transformations-container h2 {
	text-align: center;
	color: white;
}

.transformations-images-container {
	display: flex;
	justify-content: center;
	gap: 1rem;
	padding: 1rem;
}

.transformation-image-container {
	display: grid;
	grid-template-rows: 90% 10%;
	gap: 5px;
}

.transformation-image-container img {
	height: 300px;
}

.transformation-image-container div p {
	text-align: center;
	color: rgb(251, 192, 45);
}

@keyframes scroll-horizontal {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-90%);
	}
}

@media only screen and (max-width: 600px) {
	.modal-article {
		grid-template-rows: 40% 1fr;
		width: 90vw;
		height: 95vh;
	}

	.character-details-cointainer {
		width: 90vw;
		padding: 0.5rem;
		gap: 0.5rem;
	}
	.character-modal-details {
		flex-direction: column;
		gap: 0.5rem;
	}

	.character-modal-details p {
		margin: 2px;
	}

	.character-modal-description {
		max-width: max-content;
		overflow-y: scroll;
	}

	.character-modal-description p {
		max-height: 100%;
	}

	.transformations-container {
		width: 90vw;
		overflow: hidden;
	}

	.transformations-images-container {
		display: flex;
		justify-content: start;
		animation: scroll-horizontal 10s linear infinite;
		width: fit-content;
	}
	/* .transformations-images-container:hover {
		animation: scroll-horizontal paused;
	} */

	.transformation-image-container img {
		width: 150px;
		height: 300px;
	}
}

@media only screen and (max-width: 1248px) {
	.modal-article {
		grid-template-rows: 45% 1fr;
	}

	.transformations-image-container img {
		height: 250px;
	}
}

/* @media only screen and (max-width: 650px) {
	.modal-article {
		grid-template-rows: 80% 1fr;
	}

	.transformation-image-container img {
		height: 80px;
	}
} */
